.pyc[co]
.idea/
.vscode/
.tox/
venv/
venv3/
node_modules
__pycache__
docs/_build/
.coverage
.env
.env.docker
.pytest_cache
TODO
btbb.sh
dist/
*.egg-info
db.sqlite3
celerybeat-schedule
waveview.json
waveview-token.json
