django==3.2
django-cors-headers>=3.0.1
djangorestframework>=3.9.0
gunicorn>=19.9.0
mysqlclient>=1.4.2
sqlalchemy>=1.2.16,<1.4.0
sqlalchemy-utils>=0.37.0
celery>=5.1.2
redis>=3.5.3
numpy>=1.16.2
pandas>=1.1.0
scipy>=1.5.4
obspy>=1.2.2
python-decouple>=3.4
python-memcached>=1.59
sentry-sdk>=0.19.1
sphinx_rtd_theme>=0.4.3
sphinx>=2.0.1
webobsclient>=1.0.0
bpptkg-richter>=0.4.0
